

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 { font-weight: 100; font-size: 2.5em;}

#content {
    width: 600px;
    margin: 0 auto;
    /*margin-top: 50px;*/
    border: 1px dotted black;
    text-align: center;
    font-family: 'Helvetica Neue', arial;
    font-weight: 100;
    background-color: aliceblue;
}

#oracle {
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
}